<div class="row">
    <div class="panel col-md-6">
        <div class="panel-body" style="position: relative; height:300px;">
            <h5 class="text-uppercase text-muted text-normal">Daily Followers Growth</h5>
            <hr class="new-section-xs">
            <canvas id="ig-follower-growth"></canvas>
        </div>
    </div>
    <div class="panel col-md-6">
        <div class="panel-body" style="position: relative; height:300px;">
            <h5 class="text-uppercase text-muted text-normal">Daily User Account Reach</h5>
            <hr class="new-section-xs">
            <canvas id="ig-reach"></canvas>
        </div>
    </div>
</div>    
<div class="row">
    <div class="panel col-md-6">
        <div class="panel-body" style="position: relative; height:300px;">
            <h5 class="text-uppercase text-muted text-normal">Daily User Account Impressions</h5>
            <hr class="new-section-xs">
            <canvas id="ig-impression"></canvas>
        </div>
    </div>
    <div class="panel col-md-6">
        <div class="panel-body" style="position: relative; height:300px;">
            <h5 class="text-uppercase text-muted text-normal">Daily User Account Profile Views</h5>
            <hr class="new-section-xs">
            <canvas id="ig-profile-views"></canvas>
        </div>
    </div>
</div>
<script>
    // var ig_reach = {{ reach|safe }}
    // var ig_impression = {{ impression|safe }}
    // var ig_profile_views = {{ profile_views|safe }}
    // var ig_follower_growth = {{ follower|safe }}
    // console.log(ig_impression)

</script>
<script src="../static/nifass/js/fb/ig_account_insights.js"></script>