<header id="navbar">
    <div id="navbar-container" class="boxed">
        <div class="navbar-header">
            <a href="index.html" class="navbar-brand">
                <img src="../static/nifass/img/logo.png" alt="Nifty Logo" class="brand-icon">
                <div class="brand-title">
                    <span class="brand-text">Anaools</span>
                </div>
            </a>
        </div>
        <div class="navbar-content">
            <ul class="nav navbar-top-links">

                <!--Navigation toogle button-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <li class="tgl-menu-btn">
                    <a class="mainnav-toggle" href="#">
                        <i class="demo-pli-list-view"></i>
                    </a>
                </li>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End Navigation toogle button-->
                <li>
                    <div>
                        <h4 style="color: #25476a; padding-top: 11px;">{{ title }}</h4>
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-top-links">
                <li class="mega-dropdown">
                    <a href="#" data-target="#demo-tips" data-toggle="modal">
                        <i class="demo-pli-layout-grid"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
